/.vscode
GoonMixer/bin/Debug/net6.0/GoonMixer.dll
GoonMixer/bin/Debug/net6.0/GoonMixer.pdb
GoonMixer/bin/Debug/net6.0/ref/GoonMixer.dll
GoonMixer/obj/staticwebassets.pack.sentinel
GoonMixer/obj/Debug/net6.0/GoonMixer.csproj.CoreCompileInputs.cache
GoonMixer/obj/Debug/net6.0/GoonMixer.dll
GoonMixer/obj/Debug/net6.0/GoonMixer.GeneratedMSBuildEditorConfig.editorconfig
GoonMixer/obj/Debug/net6.0/GoonMixer.pdb
GoonMixer/obj/Debug/net6.0/project.razor.json
GoonMixer/obj/Debug/net6.0/ref/GoonMixer.dll
GoonMixer.Tests/bin/Debug/net6.0/GoonMixer.dll
GoonMixer.Tests/bin/Debug/net6.0/GoonMixer.pdb
GoonMixer.Tests/bin/Debug/net6.0/GoonMixer.Tests.dll
GoonMixer.Tests/bin/Debug/net6.0/GoonMixer.Tests.pdb
GoonMixer.Tests/bin/Debug/net6.0/ref/GoonMixer.Tests.dll
GoonMixer.Tests/obj/Debug/net6.0/GoonMixer.Tests.csproj.AssemblyReference.cache
GoonMixer.Tests/obj/Debug/net6.0/GoonMixer.Tests.dll
GoonMixer.Tests/obj/Debug/net6.0/GoonMixer.Tests.pdb
GoonMixer.Tests/obj/Debug/net6.0/ref/GoonMixer.Tests.dll
